/* Iron Swords Project/static/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header p {
    font-size: 1.2em;
    margin: 10px 0;
}

.ad-square {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ad-square a {
    color: #007BFF;
    text-decoration: none;
}

.ad-square a:hover {
    text-decoration: underline;
}

.button-square {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    padding: 15px;
    background-color: #eaf0f1;
    border: 1px solid #c0d0d3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.button-square a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

.button-square .highlight {
    font-weight: bold;
    color: #133ce1; /* Highlight color */
}

.button-square .underline {
    display: block;
    font-size: 1em;
    color: #333;
    text-decoration: underline;
}


